<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <div class="container">
    <div class="row form-floating mb-3">
      <div class="col-sm form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="txtText"
          placeholder=""
          name="txtText"
          [(ngModel)]="healthdata.topic"
          formControlName="txtText"
          title="{{ tooltips.txtText }}"
          list="symptomList"
          (change)="onTextSelection($event)"
          required
          #txtText
        />
        <datalist id="symptomList">
          <option value="Associated symptoms"></option>
        </datalist>
        <label for="txtText">Text</label>
        <p class="text-danger" *ngIf="!healthdata.topic">
          Text cannot be blank
        </p>
      </div>
      <div class="col-sm form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="txtassocomplaint"
          placeholder=""
          name="txtassocomplaint"
          formControlName="txtassocomplaint"
          title="{{ tooltips.txtassocomplaint }}"
          [(ngModel)]="healthdata.associated_complaint"
        />
        <label for="txtassocomplaint">Associated Complaint</label>
      </div>
    </div>
    <div class="d-flex justify-content-between align-items-center">
      <h6 class="mb-0">Node Rules</h6>
      <button
        type="button"
        class="btn btn-primary popup-save-btn btn-sm"
        (click)="resetNodeRules()"
        title="Reset all Node Rules fields"
      >
        Reset
      </button>
    </div>
    <hr />
    <div class="row form-floating mb-3">
      <div class="col-sm form-floating mb-3">
        <select
          name="txtInputType"
          id="txtInputType"
          class="form-select"
          [(ngModel)]="healthdata.input_type"
          formControlName="txtInputType"
          title="{{ tooltips.txtInputType }}"
        >
          <option value="">-- Select --</option>
          <option value="text">text</option>
          <option value="number">number</option>
          <option value="decimal">decimal</option>
          <option value="date">date</option>
          <option value="duration">duration</option>
          <option value="camera">camera</option>
          <option value="frequency">frequency</option>
          <option value="range">range</option>
        </select>
        <label for="txtInputType">Input Type</label>
      </div>
      <div class="col-sm form-floating mb-3">
        <select
          name="txtGender"
          id="txtGender"
          class="form-select"
          [(ngModel)]="healthdata.gender"
          formControlName="txtGender"
          title="{{ tooltips.txtGender }}"
        >
          <option value="">-- Select --</option>
          <option value="0">male</option>
          <option value="1">female</option>
          <option value="2">other</option>
        </select>
        <label for="txtgender">Gender</label>
      </div>
    </div>

    <div class="row form-floating mb-3">
      <div class="col-sm form-floating mb-3">
        <input
          type="number"
          min="0"
          class="form-control"
          name="txtAgeMin"
          id="txtAgeMin"
          formControlName="txtAgeMin"
          title="{{ tooltips.txtAgeMin }}"
          [(ngModel)]="ageMinRaw"
          (change)="onAgeMinChange($event)"
          #txtAgeMin
        />
        <label for="txtAgeMin">Age Min</label>
        <p class="text-danger" *ngIf="myForm.hasError('negativeAgeMin')">
          Age Min must be a positive number
        </p>
      </div>
      <div class="col-sm form-floating mb-3">
        <input
          type="number"
          min="0"
          class="form-control"
          name="txtAgeMax"
          id="txtAgeMax"
          formControlName="txtAgeMax"
          title="{{ tooltips.txtAgeMax }}"
          [(ngModel)]="ageMaxRaw"
          (change)="onAgeMaxChange($event)"
          #txtAgeMax
        />
        <label for="txtAgeMax">Age Max</label>
        <p class="text-danger" *ngIf="myForm.hasError('negativeAgeMax')">
          Age Max must be a positive number
        </p>
        <p class="text-danger" *ngIf="myForm.hasError('invalidDateRange')">
          Max age must be greater than Min age
        </p>
      </div>
    </div>

    <div
      class="row form-floating mb-3"
      *ngIf="healthdata.input_type === 'range'"
    >
      <div class="col-sm form-floating mb-3">
        <input
          type="number"
          class="form-control"
          id="txtRangeMin"
          placeholder=""
          name="txtRangeMin"
          formControlName="txtRangeMin"
          title="{{ tooltips.txtRangeMin }}"
          [(ngModel)]="healthdata.range_min"
        />
        <label for="txtRangeMin">Range Min</label>
      </div>
      <div class="col-sm form-floating mb-3">
        <input
          type="number"
          class="form-control"
          id="txtRangeMax"
          placeholder=""
          name="txtRangeMax"
          formControlName="txtRangeMax"
          title="{{ tooltips.txtRangeMax }}"
          [(ngModel)]="healthdata.range_max"
        />
        <label for="txtRangeMax">Range Max</label>
        <p class="text-danger" *ngIf="myForm.hasError('invalidRangeOrder')">
          Max range must be greater than Min range
        </p>
      </div>
    </div>

    <div class="row form-floating mb-3">
      <div class="col-sm form-floating mb-3">
        <select
          name="ddisRequired"
          id="ddisRequired"
          class="form-select"
          formControlName="ddisRequired"
          title="{{ tooltips.ddisRequired }}"
          [(ngModel)]="healthdata.isRequired"
          placeholder="Is Required"
        >
          <option [ngValue]="null">-- Select --</option>
          <option [ngValue]="true">true</option>
          <option [ngValue]="false">false</option>
        </select>
        <label for="ddisRequired">Is this question Required?</label>
      </div>
      <div class="col-sm form-floating mb-3">
        <select
          name="ddMultiChoice"
          id="ddMultiChoice"
          class="form-select"
          formControlName="ddMultiChoice"
          title="{{ tooltips.ddMultiChoice }}"
          [(ngModel)]="healthdata.multi_choice"
          placeholder="Multi Choice"
        >
          <option [ngValue]="null">-- Select --</option>
          <option [ngValue]="true">true</option>
          <option [ngValue]="false">false</option>
        </select>
        <label for="ddMultiChoice">Multi Choice</label>
      </div>
    </div>

    <div class="row form-floating mb-3">
      <div class="col-sm form-floating mb-3">
        <select
          name="ddExcludeMultiChoice"
          id="ddExcludeMultiChoice"
          class="form-select"
          formControlName="ddExcludeMultiChoice"
          title="{{ tooltips.ddExcludeMultiChoice }}"
          [(ngModel)]="healthdata.exclude_from_multi_choice"
          placeholder="Exclude From Multi Choice"
        >
          <option [ngValue]="null">-- Select --</option>
          <option [ngValue]="true">true</option>
          <option [ngValue]="false">false</option>
        </select>
        <label for="ddExcludeMultiChoice">Exclude From Multi Choice</label>
      </div>
      <div class="col-sm form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="txtDisplay"
          placeholder=""
          name="txtDisplay"
          [(ngModel)]="healthdata.display"
          formControlName="txtDisplay"
          title="{{ tooltips.txtDisplay }}"
        />
        <label for="txtDisplay">Display (English)</label>
      </div>
    </div>

    <div class="row form-floating mb-3">
      <div class="col-sm form-floating mb-3">
        <select
          name="havingNestedQuestion"
          id="havingNestedQuestion"
          class="form-select"
          formControlName="ddHavingNestedQuestion"
          title="{{ tooltips.ddHavingNestedQuestion }}"
          [(ngModel)]="healthdata.having_nested_question"
          placeholder="Having Nested Question"
        >
          <option [ngValue]="null">-- Select --</option>
          <option [ngValue]="true">true</option>
          <option [ngValue]="false">false</option>
        </select>
        <label for="ddHavingNestedQuestion">Having Nested Question</label>
      </div>

      <div class="col-sm form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="txtCompareDuplicateNode"
          placeholder=""
          name="txtCompareDuplicateNode"
          formControlName="txtCompareDuplicateNode"
          title="{{ tooltips.txtCompareDuplicateNode }}"
          [(ngModel)]="healthdata.compare_duplicate_node"
        />
        <label for="txtCompareDuplicateNode">Compare Duplicate Node</label>
      </div>
    </div>

    <div class="row form-floating mb-3">
      <div class="col-sm form-floating mb-3">
        <select
          name="ddEnableExclusiveOption"
          id="ddEnableExclusiveOption"
          class="form-select"
          formControlName="ddEnableExclusiveOption"
          title="{{ tooltips.ddEnableExclusiveOption }}"
          [(ngModel)]="healthdata.enable_exclusive_option"
          placeholder="Enable Exclusive Option"
        >
          <option [ngValue]="null">-- Select --</option>
          <option [ngValue]="true">true</option>
          <option [ngValue]="false">false</option>
        </select>
        <label for="ddEnableExclusiveOption">Enable Exclusive Option</label>
      </div>

      <div class="col-sm form-floating mb-3">
        <select
          name="ddIsExclusiveOption"
          id="ddIsExclusiveOption"
          class="form-select"
          formControlName="ddIsExclusiveOption"
          title="{{ tooltips.ddIsExclusiveOption }}"
          [(ngModel)]="healthdata.is_exclusive_option"
          placeholder="Is Exclusive Option"
        >
          <option [ngValue]="null">-- Select --</option>
          <option [ngValue]="true">true</option>
          <option [ngValue]="false">false</option>
        </select>
        <label for="ddIsExclusiveOption">Is Exclusive Option</label>
      </div>
    </div>

    <div class="row form-floating mb-3">
      <div class="col-6 form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="txtLanguage"
          placeholder=""
          name="txtLanguage"
          [(ngModel)]="healthdata.language"
          formControlName="txtLanguage"
          title="{{ tooltips.txtLanguage }}"
        />
        <label for="txtLanguage">Language to be shown in history note</label>
      </div>
    </div>
    <div class="row form-floating mb-3">
      <div class="col-6 form-floating mb-3">
        <input
          type="number"
          class="form-control"
          id="txtIndex"
          placeholder=""
          name="txtIndex"
          formControlName="txtIndex"
          title="{{ tooltips.txtIndex }}"
          [(ngModel)]="healthdata.index"
          min="0"
        />
        <label for="txtIndex">Index</label>
      </div>
    </div>
    <h6>Triggers</h6>
    <hr />
    <div class="row form-floating mb-3">
      <div class="col-sm form-floating mb-3">
        <textarea
          class="form-control"
          id="txtPPE"
          placeholder=""
          name="txtPPE"
          [(ngModel)]="healthdata.perform_physical_exam"
          formControlName="txtPPE"
          title="{{ tooltips.txtPPE }}"
          rows="3"
        ></textarea>
        <label for="txtPPE">Perform Physical Exam</label>
      </div>
      <div class="col-sm form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="txtjobaidtype"
          placeholder=""
          name="txtjobaidtype"
          formControlName="txtjobaidtype"
          title="{{ tooltips.txtjobaidtype }}"
          [(ngModel)]="healthdata.job_aid_type"
        />
        <label for="txtjobaidtype">Job Aid Type</label>
      </div>
    </div>
    <div class="row form-floating mb-3">
      <div class="col-6 form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="txtjobaidfile"
          placeholder=""
          name="txtjobaidfile"
          formControlName="txtjobaidfile"
          title="{{ tooltips.txtjobaidfile }}"
          [(ngModel)]="healthdata.job_aid_file"
        />
        <label for="txtjobaidfile">Job Aid File</label>
      </div>
    </div>
    <h6>Alerts</h6>
    <hr />
    <div class="row form-floating mb-3">
      <div class="col-sm form-floating mb-3">
        <textarea
          class="form-control"
          id="txtpopup"
          placeholder=""
          name="txtpopup"
          formControlName="txtpopup"
          title="{{ tooltips.txtpopup }}"
          rows="3"
          [(ngModel)]="healthdata.pop_up"
        ></textarea>
        <label for="txtpopup">Pop Up</label>
      </div>
      <div class="col-sm form-floating mb-3">
        <textarea
          class="form-control"
          id="txtpopupor"
          placeholder=""
          name="txtpopupor"
          formControlName="txtpopupor"
          title="{{ tooltips.txtpopupor }}"
          rows="3"
          [(ngModel)]="healthdata.pop_up_or"
        ></textarea>
        <label for="txtpopupor">Pop Up (Odiya)</label>
      </div>
    </div>
    <div class="row form-floating mb-3">
      <div class="col-sm form-floating mb-3">
        <textarea
          class="form-control"
          id="txtpopuphi"
          placeholder=""
          name="txtpopuphi"
          formControlName="txtpopuphi"
          title="{{ tooltips.txtpopuphi }}"
          rows="3"
          [(ngModel)]="healthdata.pop_up_hi"
        ></textarea>
        <label for="txtpopuphi">Pop Up (Hindi)</label>
      </div>
      <div class="col-sm form-floating mb-3">
        <textarea
          class="form-control"
          id="txtpopupmr"
          placeholder=""
          name="txtpopupmr"
          formControlName="txtpopupmr"
          title="{{ tooltips.txtpopupmr }}"
          rows="3"
          [(ngModel)]="healthdata.pop_up_mr"
        ></textarea>
        <label for="txtpopupmr">Pop Up (Marathi)</label>
      </div>
    </div>
    <h6>Translations</h6>
    <hr />
    <div class="row form-floating mb-3">
      <div class="col-sm form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="txtDisplayHI"
          placeholder=""
          name="txtDisplayHI"
          [(ngModel)]="healthdata.display_hi"
          formControlName="txtDisplayHI"
          title="{{ tooltips.txtDisplayHI }}"
        />
        <label for="txtDisplayHI">Display (Hindi)</label>
      </div>
      <div class="col-sm form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="txtDisplayOR"
          placeholder=""
          name="txtDisplayOR"
          [(ngModel)]="healthdata.display_or"
          formControlName="txtDisplayOR"
          title="{{ tooltips.txtDisplayOR }}"
        />
        <label for="txtDisplayOR">Display (Odiya)</label>
      </div>
    </div>
    <div class="row form-floating mb-3">
      <div class="col-6 form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="txtDisplayMR"
          placeholder=""
          name="txtDisplayMR"
          [(ngModel)]="healthdata.display_mr"
          formControlName="txtDisplayMR"
          title="{{ tooltips.txtDisplayMR }}"
        />
        <label for="txtDisplayMR">Display (Marathi)</label>
      </div>
    </div>
    <h6>Citation</h6>
    <hr />
    <div class="row form-floating mb-3">
      <div class="col-sm form-floating mb-3">
        <textarea
          class="form-control"
          id="txtcitation"
          placeholder=""
          name="txtcitation"
          formControlName="txtcitation"
          title="{{ tooltips.txtcitation }}"
          rows="3"
          [(ngModel)]="healthdata.citation"
        >
        </textarea>
        <label for="txtpopup">Citation</label>
      </div>
      <div class="col-sm form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="txtsnomed"
          placeholder=""
          name="txtsnomed"
          formControlName="txtsnomed"
          title="{{ tooltips.txtsnomed }}"
          [(ngModel)]="healthdata.snomed"
        />
        <label for="txtsnomed">Snomed</label>
      </div>
    </div>
    <div class="row form-floating mb-3">
      <div class="col-sm form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="txticd"
          placeholder=""
          name="txticd"
          formControlName="txticd"
          title="{{ tooltips.txticd }}"
          [(ngModel)]="healthdata.icd_11"
        />
        <label for="txticd">ICD-11</label>
      </div>
      <div class="col-sm form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="txtloinc"
          placeholder=""
          name="txtloinc"
          formControlName="txtloinc"
          title="{{ tooltips.txtloinc }}"
          [(ngModel)]="healthdata.loinc"
        />
        <label for="txtloinc">LOINC</label>
      </div>
    </div>
    <div class="row form-floating mb-3">
      <div class="col-sm form-floating mb-3" *ngIf="positiveCondition">
        <input
          type="text"
          class="form-control"
          id="txtPosCon"
          placeholder=""
          name="txtPosCon"
          [(ngModel)]="healthdata.pos_condition"
          formControlName="txtPosCon"
          title="{{ tooltips.txtPosCon }}"
        />
        <label for="txtPosCon">Positive Condition</label>
      </div>
      <div class="col-sm form-floating mb-3" *ngIf="negativeCondition">
        <input
          type="text"
          class="form-control"
          id="txtNegCon"
          placeholder=""
          name="txtNegCon"
          [(ngModel)]="healthdata.neg_condition"
          formControlName="txtNegCon"
          title="{{ tooltips.txtNegCon }}"
        />
        <label for="txtNegCon">Negative Condition</label>
      </div>
    </div>

    <div class="form-floating mb-3 text-center">
      <button
        type="submit"
        class="btn btn-primary btn-lg popup-save-btn"
        [disabled]="!myForm.valid"
        title="Save Edited Data"
      >
        Save
      </button>
      <button
        type="button"
        class="btn btn-outline-secondary btn-lg ms-3 popup-cancel-btn"
        (click)="modal.close()"
        title="Cancel"
      >
        Cancel
      </button>
    </div>
  </div>
</form>
