<div class="">
  <nav class="navbar navbar-default fixed-top">
    <div class="row p-2 w-100">
      <!--<div class="col-3">
        <div class="input-group mb-5">
          <input
            type="file"
            class="form-control"
            id="inputGroupFile02"
            (change)="handleFileInput($event)"
          />
          <label class="input-group-text" for="inputGroupFile02">Upload</label>
        </div>
      </div>-->
      <div class="col-12 text-center">
        <button
          type="button"
          id="btnAdd"
          class="btn navbar-buttons me-3"
          (click)="addShow()"
        >
          Add Child node
        </button>
        <button
          type="button"
          id="btnEdit"
          class="btn navbar-buttons me-3"
          (click)="editNodeData()"
        >
          Edit attributes
        </button>
        <button
          type="button"
          id="btnDelete"
          class="btn navbar-buttons me-3"
          (click)="deleteNode()"
        >
          Delete node
        </button>
        <button
          type="button"
          id="btnJson"
          class="btn navbar-buttons me-3"
          (click)="getJsonData()"
        >
          Download JSON
        </button>
        <button class="btn navbar-buttons me-3" (click)="zoomin()">
          <i class="bi bi-zoom-in"></i>
          Zoom in
        </button>
        <button class="btn navbar-buttons me-3" (click)="zoomout()">
          <i class="bi bi-zoom-out"></i>
          Zoom out
        </button>
        <button
          type="button"
          id="btnExpand"
          class="btn navbar-buttons me-3"
          (click)="expandNode()"
        >
          Expand node
        </button>
        <button
          type="button"
          id="btnCollapse"
          class="btn navbar-buttons me-3"
          (click)="collapseNode()"
        >
          Collapse node
        </button>
      </div>
    </div>
  </nav>
  <div class="row pt-5" id="jsmind_container"></div>
</div>
