#jsmind_container {
    float: left;
    width: 100%;
    height: 800px;
  }

.navbar-buttons{
  border: unset;
  color: white;
  font-weight: 600;
  padding: 10px;
}

.navbar-buttons:hover{
  background: #4B39B7;
}

.navbar{
  background-color: #2E1E91;
}